## ML Sentiment Analyzer

#### Life cycle of Machine learning Project

- Understanding the Problem Statement
- Data Collection
- Data Checks to perform
- Model Training

### 1) Problem statement
- This project performs the sentiment analysis on the given statement.


### 2) Data Collection
- Dataset Source - https://www.kaggle.com/datasets/atifaliak/youtube-comments-dataset

### 2.1 Import Data and Required Packages
####  Importing EDA Libraries

In [1]:
import pandas as pd

#### Import the CSV Data as Pandas DataFrame

In [2]:
df = pd.read_csv('raw-data/YoutubeCommentsDataSet.csv')

#### Show Top 5 Records

In [3]:
df.head()

                                             Comment Sentiment
0  lets not forget that apple pay in 2014 require...   neutral
1  here in nz 50 of retailers don’t even have con...  negative
2  i will forever acknowledge this channel with t...  positive
3  whenever i go to a place that doesn’t take app...  negative
4  apple pay is so convenient secure and easy to ...  positive

#### Shape of the dataset

In [4]:
df.shape

(18408, 2)

### 2.2 Dataset information
- Comment : contains comment of users 
- Sentiment : sentiment of comment -> (negative/positive/neutral)

### 3. Data Checks to perform

- Check Missing values
- Check Duplicates
- Check data type
- Check the number of unique values of each column
- Check statistics of data set

### 3.1 Check Missing values

In [5]:
df.isna().sum()

Comment      44
Sentiment     0
dtype: int64

#### There are 44 missing values in the data set (comment)

In [6]:
# Fixing Missing Values
# Drop rows where 'Comment' is NaN
# This is necessary to ensure that the analysis does not include empty comments
# which could skew the results or lead to errors in processing.
df = df.dropna(subset=['Comment'])

In [7]:
# verifying if missing values issue is resolved
df.isna().sum()

Comment      0
Sentiment    0
dtype: int64

### 3.2 Check Duplicates

In [8]:
df['Comment'].duplicated().sum()

np.int64(493)

In [9]:
# Fixing Duplicates
# Remove duplicate comments
df = df.drop_duplicates(subset=['Comment'])

In [10]:
# Verifying if duplicates issue is resolved
df['Comment'].duplicated().sum()

np.int64(0)

### 3.3 Check data types

In [11]:
# Check Null and Dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17871 entries, 0 to 18407
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Comment    17871 non-null  object
 1   Sentiment  17871 non-null  object
dtypes: object(2)
memory usage: 418.9+ KB

### 3.4 Checking the number of unique values of each column

In [12]:
df.nunique()

Comment      17871
Sentiment        3
dtype: int64

### 3.5 Check statistics of data set

In [13]:
df.describe()

                                                  Comment Sentiment
count                                               17871     17871
unique                                              17871         3
top     lets not forget that apple pay in 2014 require...  positive
freq                                                    1     11052

### 4. Model Training

#### Steps in Model Training
- Step 1: Importing required libraries
- Step 2: Label Encoding of Sentiment
- Step 3: Converting comments in to lowercase
- Step 4: Stopword removal from comments
- Step 5: Train Test Data Split                                            
- Step 6: Vecortization of comments
- Step 7: Model Fitting and Model Evaluation
- Step 8: Performance Analysis of all models

In [14]:
# Step 1: Importing required libraries
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [15]:
# Step 2: Label Encoding of Sentiment
labelencoder = LabelEncoder()
df['Encoded_Sentiment'] = labelencoder.fit_transform(df['Sentiment'])
df.head()

,Comment,Sentiment,Encoded_Sentiment
0,lets not forget that apple pay in 2014 require...,neutral,1
1,here in nz 50 of retailers don’t even have con...,negative,0
2,i will forever acknowledge this channel with t...,positive,2
3,whenever i go to a place that doesn’t take app...,negative,0
4,apple pay is so convenient secure and easy to ...,positive,2

In [16]:
# Step 3: Converting comments in to lowercase
df['Lower_Comments'] = df['Comment'].str.lower()
df.head()

,Comment,Sentiment,Encoded_Sentiment,Lower_Comments
0,lets not forget that apple pay in 2014 require...,neutral,1,lets not forget that apple pay in 2014 require...
1,here in nz 50 of retailers don’t even have con...,negative,0,here in nz 50 of retailers don’t even have con...
2,i will forever acknowledge this channel with t...,positive,2,i will forever acknowledge this channel with t...
3,whenever i go to a place that doesn’t take app...,negative,0,whenever i go to a place that doesn’t take app...
4,apple pay is so convenient secure and easy to ...,positive,2,apple pay is so convenient secure and easy to ...

In [17]:
# Step 4: Stopword removal from comments
en_stopwords = stopwords.words('english')
en_stopwords.remove('not')
df['Comment_No_Stop_Words'] = df['Lower_Comments'].apply(lambda x : ' '.join([word for word in x.split() if word not in (en_stopwords)]))
df.head()

,Comment,Sentiment,Encoded_Sentiment,Lower_Comments,Comment_No_Stop_Words
0,lets not forget that apple pay in 2014 require...,neutral,1,lets not forget that apple pay in 2014 require...,lets not forget apple pay 2014 required brand ...
1,here in nz 50 of retailers don’t even have con...,negative,0,here in nz 50 of retailers don’t even have con...,nz 50 retailers don’t even contactless credit ...
2,i will forever acknowledge this channel with t...,positive,2,i will forever acknowledge this channel with t...,forever acknowledge channel help lessons ideas...
3,whenever i go to a place that doesn’t take app...,negative,0,whenever i go to a place that doesn’t take app...,whenever go place doesn’t take apple pay doesn...
4,apple pay is so convenient secure and easy to ...,positive,2,apple pay is so convenient secure and easy to ...,apple pay convenient secure easy use used kore...

In [18]:
# Step 5: Train Test Split
X = df['Comment_No_Stop_Words']
y = df['Encoded_Sentiment']
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42, test_size=0.2)
print(X_train)
print(X_test)
print(y_train)
print(y_train)

768                                         praying miners
4115     cant use timer black surface black doesnt refl...
16503                          beautiful family love movie
18094    wow massive learnings thanks wonder wouldn’t m...
6146     adam kills puts great journalistic interviewin...
                               ...
11599                                           420 obunga
12323    honestly really proud guy hope thrives extraor...
5532     besides ai i’m impressed man’s deep knowledge ...
876      mister kalo mister dapet 2jt subscriber mister...
16240    even 6 months movies released changes slate st...
Name: Comment_No_Stop_Words, Length: 14296, dtype: object
5000     apple product excited september best iphone ac...
2783     1948 understand beginners starting sql opinion...
9080     want go pakistan eat food ali really enjoyed p...
9849     nick youtuber call peasant camera…and make lau...
12403    got 1460 790 math 670 english got duke gf didn...
                               ...
11704    please support channel download buff link comm...
6102                                        also 25 august
17395    oneneuron lifetime subscription extended onene...
2159     said love teach always give great tips things ...
4411     imagine quantum particle thing version put sol...
Name: Comment_No_Stop_Words, Length: 3575, dtype: object
768      1
4115     0
16503    2
18094    2
6146     0
        ..
11599    1
12323    2
5532     2
876      1
16240    2
Name: Encoded_Sentiment, Length: 14296, dtype: int64
768      1
4115     0
16503    2
18094    2
6146     0
        ..
11599    1
12323    2
5532     2
876      1
16240    2
Name: Encoded_Sentiment, Length: 14296, dtype: int64

In [19]:
# Step 6: Vecotrizing Features
vectorizer = TfidfVectorizer(max_features = 5000)
X_train_vec = vectorizer.fit_transform(X_train)
X_test_vec = vectorizer.transform(X_test)
print(X_train_vec)
print(X_test_vec)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 190615 stored elements and shape (14296, 5000)>
  Coords	Values
  (0, 3371)	1.0
  (1, 714)	0.20185779033726656
  (1, 4706)	0.20760884979615354
  (1, 4504)	0.3478466332667741
  (1, 547)	0.5227952595185392
  (1, 4318)	0.33680487913719764
  (1, 1323)	0.2314244691812018
  (1, 2571)	0.2784618669218244
  (1, 4610)	0.23195720524652708
  (1, 4714)	0.22482366167101941
  (1, 4863)	0.27610130878225875
  (1, 4347)	0.31100201738277533
  (2, 479)	0.553878496503601
  (2, 1659)	0.5696734236221519
  (2, 2657)	0.3227387990659535
  (2, 2922)	0.5143252561434181
  (3, 4929)	0.24227335466342909
  (3, 2743)	0.30172023533240355
  (3, 4438)	0.17883951442510812
  (3, 4902)	0.2821723803830592
  (3, 4926)	0.32293726446069626
  (3, 2847)	0.24586721673738954
  (3, 1297)	0.3309048432626663
  (3, 2440)	0.4779054353894054
  (3, 4925)	0.1666904938024464
  :	:
  (14292, 2008)	0.41208507504401287
  (14292, 4460)	0.3769912458919671
  (14292, 2134)	0.44796921617317165
  (14292, 3579)	0.28937203775350195
  (14292, 2140)	0.38823775523681947
  (14292, 3472)	0.5029138514527592
  (14293, 1555)	0.24766224419692986
  (14293, 2714)	0.23799342106154112
  (14293, 1186)	0.3273504308799338
  (14293, 2228)	0.34632411474419555
  (14293, 508)	0.4205820770103757
  (14293, 202)	0.3175034935837588
  (14293, 2460)	0.2902106116770272
  (14293, 1573)	0.312926164064546
  (14293, 1997)	0.4416798750835
  (14294, 4274)	0.2846592452818595
  (14294, 2870)	0.9586287676027474
  (14295, 1544)	0.23726880410061912
  (14295, 4204)	0.2483004394653302
  (14295, 3634)	0.41289315576262964
  (14295, 2900)	0.33559797329789404
  (14295, 777)	0.4268139787287654
  (14295, 1696)	0.3505419265640135
  (14295, 3358)	0.39224410890719463
  (14295, 2923)	0.3742170398509669
<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 45190 stored elements and shape (3575, 5000)>
  Coords	Values
  (0, 45)	0.18375195784962833
  (0, 210)	0.49217041909736575
  (0, 253)	0.2116864922892292
  (0, 327)	0.16758124313424005
  (0, 509)	0.24283741230114753
  (0, 1169)	0.2376276953174188
  (0, 1577)	0.1629848527368053
  (0, 2343)	0.35877716887910177
  (0, 2592)	0.24608520954868288
  (0, 3422)	0.1709310702082868
  (0, 3435)	0.1962660904685708
  (0, 3789)	0.4514149970164234
  (0, 3901)	0.21980801631870797
  (1, 247)	0.1674780811316195
  (1, 493)	0.3076786434585465
  (1, 735)	0.2642246508584153
  (1, 1933)	0.1549083771590392
  (1, 2189)	0.2409172684167202
  (1, 2417)	0.18692689525334522
  (1, 2495)	0.24401111790497462
  (1, 2576)	0.1308166333619802
  (1, 3096)	0.1420226837678987
  (1, 3105)	0.27538350806822176
  (1, 3425)	0.22889115729681994
  (1, 4151)	0.29516679761244935
  :	:
  (3572, 4276)	0.1781189582526904
  (3572, 4388)	0.13095917204649343
  (3572, 4500)	0.16593892325567408
  (3572, 4706)	0.23051852984101423
  (3572, 4893)	0.15011158761597634
  (3573, 247)	0.2460605132743757
  (3573, 1905)	0.31590085025950837
  (3573, 1969)	0.22397762326234133
  (3573, 2458)	0.2461456360340569
  (3573, 2657)	0.20222454864096295
  (3573, 3785)	0.3059557595293069
  (3573, 4383)	0.37806646557298784
  (3573, 4460)	0.2861806231354667
  (3573, 4514)	0.36631385081993456
  (3573, 4803)	0.26774231914131785
  (3573, 4826)	0.4045962724478081
  (3574, 1103)	0.29594266329453306
  (3574, 2213)	0.29443466246131456
  (3574, 3180)	0.46941317207266836
  (3574, 3505)	0.2501962636826856
  (3574, 3518)	0.3631393955617327
  (3574, 3936)	0.37730245002986434
  (3574, 4072)	0.32095445751074475
  (3574, 4459)	0.2441666984114398
  (3574, 4739)	0.32545779033646044

In [20]:
# Step 7: Model Fitting and Model Evaluation
models = {
    "Logisitc Regression": LogisticRegression(),
    "Naive Bayes": MultinomialNB(),
    "Support Vector Machines": SVC(kernel='linear', C=1.0),
    "Neural Network": MLPClassifier(hidden_layer_sizes=5, activation='logistic', max_iter=1000, random_state=42),
}

accuracy_matrix_dict = {'Models':[], 'Accuracy':[]}

for model_name, model in models.items():
    
    # Train model
    model.fit(X_train_vec, y_train) 

    # Evaluate Model
    accuracy = round(model.score(X_test_vec, y_test)*100,2)
    accuracy_matrix_dict['Models'].append(model_name)
    accuracy_matrix_dict['Accuracy'].append(accuracy)
    print(model_name)
    print('Model Accuracy: ')
    print(str(accuracy) + '%')
    print('-'*25)

Logisitc Regression
Model Accuracy:
74.63%
-------------------------
Naive Bayes
Model Accuracy:
67.75%
-------------------------
Support Vector Machines
Model Accuracy:
74.52%
-------------------------
Neural Network
Model Accuracy:
66.97%
-------------------------

In [21]:
# Step 8: Performance Analysis of all models
pd.DataFrame(accuracy_matrix_dict).sort_values(by=["Accuracy"],ascending=False)

                    Models  Accuracy
0      Logisitc Regression     74.63
2  Support Vector Machines     74.52
1              Naive Bayes     67.75
3           Neural Network     66.97